# dependencies
/node_modules

# generated
.source
next-env.d.ts
*.tsbuildinfo

# build
/.next/
/out/

# tests
/test-results/
/playwright-report/
/coverage

# env
.env*.local
.vercel

# misc
.DS_Store
npm-debug.log*
