{
  "endOfLine": "lf",
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "printWidth": 100,
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "src/app/global.css",
  "tailwindFunctions": ["cn", "cva"],
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": { "proseWrap": "preserve" }
    }
  ]
}
